
<mat-toolbar class="inside-top-bar" color="primary">
    <mat-toolbar-row>
      <span><h1>Books Handling</h1></span>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="container">
  <div [fxLayout]="'row wrap'">
    <div fxFlexOffset.gt-md="20" fxFlex.gt-xs="100%" fxFlex.gt-md="60">
      <mat-card class="add-books">
          <mat-card-header>
            <mat-card-title>ADD BOOK</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div >
              <div class="input-form">
                <div [fxLayout]="'row wrap'">
                    <input placeholder="Book Name" type="text"  [(ngModel)]="book.name" #name fxFlex.gt-xs="100%" fxFlex.gt-md="50">
                    <input placeholder="Author" type="text"  [(ngModel)]="book.author" #author fxFlex.gt-xs="100%" fxFlex.gt-md="50">
                </div>
                <div [fxLayout]="'row wrap'">
                  <div fxFlex.gt-xs="100%" fxFlex.gt-md="100">
                    <textarea placeholder="Discription" type="text"  [(ngModel)]="book.discription"   style="height:70px"></textarea>
                  </div>
                </div>
              </div>
              <div class="add-btn">
                <button mat-raised-button (click)="addNewBook()" color="warn">Add</button>
              </div>
            </div>
          </mat-card-content>
      </mat-card>
      <mat-card>
        <div [fxLayout]="'row wrap'">
          <mat-card class="book-list" *ngFor="let book of books | async;" fxFlex.gt-xs="100%" fxFlex.gt-md="100"  fxLayoutGap="2px">
            <button mat-mini-fab class="list-close-btn" (click)="removeBook(book)" color="warn">
              <mat-icon >clear</mat-icon>
            </button>
            <mat-card-header>
              <div mat-card-avatar class="list-header-image"></div>
              <mat-card-title>{{book.name}}</mat-card-title>
              <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
