<!-- <mat-toolbar class="app-navbar mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="openMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Books Store</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<div class="app-content">
  <mat-toolbar class="inside-top-bar" color="primary">
    <mat-toolbar-row>
      <span></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="content">


  </div>
</div> -->


<mat-sidenav-container class="example-container">
  <app-toolbar [sidenav]="sidenav"></app-toolbar>
  <mat-sidenav #sidenav mode="over" opened="false">
    <mat-nav-list>
      <app-sidenav [sidenav]="sidenav"></app-sidenav>
    </mat-nav-list>
  </mat-sidenav>

  <section class="main-container">
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>
