

.mat-sidenav {
  width: 275px;
}
.mat-sidenav-container {
  background-color: #eaeaea !important;
  height: 100vh;
}
.sidenav-toolbar {
  height: 64px;
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}


.inside-top-bar{
  background: #7d4ed0;

  .mat-toolbar-row{
    height: 90px;
  }
}

.main-container{
  padding: 0px 15px 0px 15px;
}
