.inside-top-bar{
  background: #7d4ed0;

  .mat-toolbar-row{
    height: 90px;
  }
}

.container{
  padding: 0px 15px 0px 15px;
}

.book-card {
  margin: 10px;
}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}

.books-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-form-field{
  left: 75%;
  font-size: 18px;
}

