.inside-top-bar{
  background: #7d4ed0;

  .mat-toolbar-row{
    height: 90px;

    span > h1{
      margin-left: 40px;
      font-size: 24px;
    }
  }

}

.container{
  padding: 0px 15px 0px 15px;
}

.book-card {
  margin: 10px;
}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}

.books-header-image {
  background-image: url('/assets/book.jpg');
  background-size: cover;
}

.mat-form-field{
  left: 65%;
  font-size: 18px;
  width: 20%;
}

